<div class="mb-4 text-2xl font-bold text-blue-500">Sign up</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label for="name" class="block text-sm font-medium text-gray-700">Full Name</label>
      <input formControlName="fullName" type="text" id="name" name="name" class="w-full px-4 py-2 mt-1 rounded-md bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" required>
       <div class="error-feedback" *ngIf="hasDiplayabeError('fullName') && form.controls.fullName.hasError('required')"> 
        <div *ngIf="hasDiplayabeError('fullName') && form.controls.fullName.hasError('required')">
          Please enter your full name.
        </div>
        </div>
    </div>

    <div class="mb-4">
      <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
      <input formControlName="email" type="email" id="email" name="email" class="w-full px-4 py-2 mt-1 rounded-md focus:outline-none bg-gray-200 focus:ring-2 focus:ring-blue-500 focus:border-blue-500" required>
      <div class="error-feedback" *ngIf="hasDiplayabeError('email')"> 
        <div *ngIf="form.controls.email.hasError('required')">
          Please enter your address email.          
        </div>
        <div *ngIf="form.controls.email.hasError('email')">
          Please enter a valid email.          
        </div>
        </div>
    </div>

    <div class="mb-4">
      <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
      <input formControlName="password" type="password" id="password" name="password" class="w-full px-4 py-2 mt-1 rounded-md focus:outline-none bg-gray-200 focus:ring-2 focus:ring-blue-500 focus:border-blue-500" required>
      <div class="error-feedback" *ngIf="hasDiplayabeError('password')"> 
        <ng-container [ngSwitch]="form.controls.password.errors | firstKey">
          <div *ngSwitchCase="'required'">
            Please enter your password.       
          </div>
          <div *ngSwitchCase="'minlength'">
            Please 6 characters required.   
          </div>
          <div *ngSwitchCase="'pattern'">
            One or more special character(s).
          </div>
        </ng-container>
      </div>
    </div>

    <button type="submit" class="w-full bg-blue-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
      Create account
    </button>
  </form>

  <!-- Link para retornar à tela de Login -->
  <div class="text-center mt-4">
    <p class="text-sm text-gray-600">Already have a account? <a href="login.html" class="text-blue-500 hover:underline">Login</a></p>
  </div>
