/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: "Inter", sans-serif;

}
.error-feedback{
    font-size: 0.9rem;
    color: crimson;
    margin: 0.3 !important;
    margin-top: 0.1 !important;
}